body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.f-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-bc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-y {
  display: flex;
  flex-direction: column;
}

